[Desktop Entry]
Type=Application
Exec=lxqt-panel
Name=LXQt Panel
OnlyShowIn=LXQt;

[Desktop Entry]
Type=Application
Exec=pcmanfm-qt --desktop
Name=Desktop
OnlyShowIn=LXQt;
